<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbvc.amp2022">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMP2022">
        <activity
            android:name=".Practical_10_2"
            android:exported="false" />
        <activity
            android:name=".Practical_10_1"
            android:exported="false" />
        <activity
            android:name=".Practical_10"
            android:exported="false" />
        <activity
            android:name=".Practical_9_1"
            android:exported="false" />
        <activity
            android:name=".Practical_9"
            android:exported="false" />
        <activity
            android:name=".Practical_8"
            android:exported="false" />
        <activity
            android:name=".Practical_7_2"
            android:exported="false" />
        <activity
            android:name=".Practical_7_1_2"
            android:exported="false" />
        <activity
            android:name=".Practical_7_1_1"
            android:exported="false" />
        <activity
            android:name=".Practical_7_1"
            android:exported="false" />
        <activity
            android:name=".Practical_7"
            android:exported="false" />
        <activity
            android:name=".Practical_6_3"
            android:exported="false" />
        <activity
            android:name=".Practical_6_2"
            android:exported="false" />
        <activity
            android:name=".Practical_6_1"
            android:exported="false" />
        <activity
            android:name=".Practical_6"
            android:exported="false" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MyFireBaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Practical_5_2"
            android:exported="false" />

        <receiver
            android:name=".MyBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Practical_5_1"
            android:exported="false" />
        <activity
            android:name=".Practical_5"
            android:exported="false" />
        <activity
            android:name=".Practical_4_3"
            android:exported="false" />
        <activity
            android:name=".Practical_4_2"
            android:exported="false" />
        <activity
            android:name=".Practical_4_1"
            android:exported="false" />
        <activity
            android:name=".Practical_4"
            android:exported="false" />
        <activity
            android:name=".Practical_3_6_1"
            android:exported="false" />
        <activity
            android:name=".Practical_3_6"
            android:exported="false" />
        <activity
            android:name=".Practical_3_5"
            android:exported="false" />
        <activity
            android:name=".Practical_3_4"
            android:exported="false" />
        <activity
            android:name=".Practical_3_3"
            android:exported="false" />
        <activity
            android:name=".Practical_3_2"
            android:exported="false" />
        <activity
            android:name=".Practical_3_1"
            android:exported="false" />
        <activity
            android:name=".Practical_3"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>